* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#86A8E7 ;
}

.calculator {
  background-color: #D16BA5;
  height: 60%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  border: solid black 3px;
}

.display {
  background-color:white;
  width: 90%;
  height: 20%;
  border-radius: 15px;
  border: solid black 3px;
}

#display {
  font-size: 45px;
  text-align: end;
  padding: 25px;
  color: #0a1e23;
}

.table {
  height: 60%;
  width: 90%;
}
input:hover {background-color: coral;}

input, button {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  border: solid black 3px;
  font-size: 25px;
  background-color: #5FFBF1;
    color: #fc4552;
}


@media only screen and (max-width: 750px) {
  .calculator {
    
    width: 80%;
  }
} 