* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.calculator {
  width: 25vw;
  height: 80vh;
  background-color: aqua;
  border-radius: 16px;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.display {
  background-color: antiquewhite;
  width: 90%;
  height: 10vh;
  padding: 20px;
  margin: auto;
  font-size: 35px;
  text-align: right;
  border-radius: 16px;
}

.buttons,
.table {
  height: 70%;
  width: 90%;
  margin: auto;
}

input {
  background-color: antiquewhite;
  text-align: center;
  padding: 20px;
  border-radius: 50%;
  margin: 5px;
}


